* {
	margin: 0px;
	padding: 0px;

}

body {
		background-image:url(../img/background.png);
}
header {
    /*background-image: url(../img/header.png);*/
    background-color: #222222;
    margin-bottom: 10px;
    padding: 20px;
}

a {
	transition: color 0.25s;
	color: inherit;
}

#vanity a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration:none;
  color: #CC0000;
  text-align:left;
  font-size: 1.5em;
}

#nav {
	margin-top: 20px;
}

#nav li{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;
	font-family: 'Ubuntu', sans-serif;
}


#nav li:hover{
	color: #C2250A;
}

h1 {
	text-align:left;
}

#nav{
	text-align: center;
}

#nav a {
	color: inherit;
	text-decoration: none;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #FFFFFF;
    color: #FFFFFF;
    text-align: center;
}


#contentArea{
	font-family: 'Roboto Slab', serif;
	margin-left: 75px;
	margin-top: 20px;
}