#blurb {
    margin-top: 20px;
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

#blurb img {
    display: block;
    float: left; 
    margin: 75px;
    width: auto;
    height: 150px;
    border: 2px solid;
}

#blurb p {
    margin-top: 75px;
    margin-left: 250px;
    margin-right: 100px;

}

#interest {
    color: #00005C;
    font-weight: bold;
}