@import 'https://fonts.googleapis.com/css?family=Droid+Serif';


/*Typography*/

html,body{font-family:'Droid Serif',serif;}
legend{font-size:36px;color:#663399;}
a:focus {outline:0;}


.social {list-style:outside none none;margin:0;padding:0;}
.social li{display: inline-block;}
.social li a{
	margin:0 10px 0 0; 
	font-size:15px;
	font-size:30px;
	padding:4px 8px;
	color:#333333;
}


.social li a:link {color:#333333;}
.social li a:hover {
	color:#663399;
	cursor:pointer;
	-webkit-transition: all ease-in-out .6s;
	-moz-transition: all ease-in-out .6s;
	-o-transition: all ease-in-out .6s;
	transition: all ease-in-out .6s;
}


/*Wrapper Styling*/
#wrapper {padding-left:250px;transition: all 0.4s ease 0s;}
#sidebar-wrapper {
  margin-left: -250px;
  left:250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {padding-left:0;}
#wrapper.active #sidebar-wrapper {left: 0;}
#page-content-wrapper {max-width: 100%;}


/*Sidebar Navigation*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
}


.sidebar-nav li {line-height: 40px;text-indent: 20px;}
.sidebar-nav li a {
  color: #663399;
  display: block;
  text-decoration: none;
  padding-left:30px;
}


.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover {color:#000;background:transparent;}

/*
.sidebar-nav li.active {
  color:#ccc;
  text-decoration:none;
}
*/
.sidebar-nav li a:active,.sidebar-nav li a:focus{text-decoration: none;outline:0;}

.sidebar-nav > .sidebar-brand {
  height:65px;
  line-height:60px;
  font-size:18px;
}

.sidebar-nav > .sidebar-brand a {color:#999999;}
.sidebar-nav > .sidebar-brand a:hover {color:#fff;background:none;}


/*Content Navigation*/
.content-header {
	height:500px;
	line-height:65px;
    -webkit-background-size:cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    background:linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),url(../../assests/img/header-bg-1.jpg) no-repeat center center fixed;
    background:-webkit-linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),url(../../assests/img/header-bg-1.jpg) no-repeat center center fixed;
	text-align:center;
	}
.content-header h1 {
	color:#ffffff;
	font-size:50px;
	padding-top:50px;
	display: inline-block;
	
}


/*About me*/
.about-me{padding:40px;}


/*Experinece me*/
.experience{padding:40px;}


/*Projects*/
.projects h3:hover{cursor:pointer;}
.projects{padding:40px;}


/*Contact us */
.contacts{padding:40px;}





#menu-toggle {text-decoration:none;}
.toggle-icon{text-align:left;margin-left:50px;font-size:30px;}

/*Button Configuration*/

.btn-menu {color:#ffffff;} 
.inset{padding: 20px;}
.btn {
	border-radius:0%;
	padding:10px 20px;

	}

.btn-default{
	border:2px solid #ffffff;
    background:transparent;
    color: #fff;

}
	

/* Media Queries*/

@media (max-width:767px) {

#wrapper {padding-left: 0;}
#sidebar-wrapper {left: 0;}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}


#menu-toggle {display:inline-block;}

.inset {padding:15px;}

}
